extends ../../page.pug

block content
  form(hx-post="/memory-consumption-increase-tests/start" hx-target="#dummy")
    div.row.d-inline-flex.justify-content-start(style={width: "760px"})
      div.col.py-3
        div.col.px-0.py-3
          input.form-control(name="increment_size", placeholder='Increment size in MB?', autofocus='')
          div.col.py-3.align-item-center
          input.form-control(name="increment_interval", placeholder='Increment interval in milliseconds', autofocus='')
      button.btn.btn-outline-secondary(type="submit") Start consuming backend memory
      div(hx-get="/memory-consumption-increase-tests/poll" hx-trigger="every 2s")
      div#dummy
  button.btn.btn-outline-secondary(type="button" hx-post="/memory-consumption-increase-tests/stop") Stop consuming backend memory
