header.d-flex.w-100
  div.d-flex.w-100.align-items-center.p-1
    div.flex-shrink-0.flex-grow-1
      div.fs-4 #{view.title}
    if user.name
      div.flex-shrink-1
        div.dropdown
          button#dropdownMenuButton.btn.btn-sm.btn-light.dropdown-toggle(
            type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ) #{user.name}
            i.mx-1.ms-2.bi.bi-person-fill
          div.dropdown-menu(aria-labelledby="dropdownMenuButton")
            div
              button.dropdown-item(type="button" hx-post="/logout") Log out
