extends ../../layout.pug

block content
  header.header
    h1.p-4 Test authorization
  section.main.px-5
    div.row
      div.col
        button.btn.btn-outline-secondary(type="button" hx-post="/hello?name=" + user.name hx-target="#hello-to-self-output") Say "Hello, #{user.name}!"
        span#hello-to-self-output.px-3
    div.row.justify-content-start
      div.col
        form(hx-post="/hello/other", hx-target="#hello-to-other-output")
          div.row.d-inline-flex.justify-content-start(style={width: "760px"})
            div.col.py-3
              button.btn.btn-outline-secondary(type="submit") Say "Hello!" to someone else
            div.col.px-0.py-3
              input.form-control(name="buddy", placeholder='To whom?', autofocus='')
            div.col.py-3.align-item-center
              span#hello-to-other-output
  include includes/../../footer-and-scripts
